@import url('@xterm/xterm/css/xterm.css');

#osconsole-slot {
    min-height: 12rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.xterm-selection div {
    background-color: transparent !important;
}

.xterm .xterm-rows > div {
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
}

#send-command:read-only {
    cursor: not-allowed;
}
